<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
	<nav role="navigation" class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="header">
				<a class="navbar-brand" href="#" th:href="@{/}">NFC Pay</a>
			
			<div sec:authorize="hasRole('ADMIN')" class="collapse navbar-collapse">
				<ul class="navbar-nav">
						
					<li class = "nav-item"><a class= "nav-link" href="#" th:href="@{/admin/index}">Home</a></li>

					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" role="button" id="userDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
							User 
						</a>
	
						<div  class="dropdown-menu" aria-labelledby="userDropdown">
							<a class="dropdown-item" href="#" th:href="@{/admin/registration}">New User</a> 
							<a class="dropdown-item" href="#" th:href="@{/admin/listUsers}">List Users</a> 
							
						</div>
					</li>
					
					
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="tagDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
							Tag 
						</a>
	
						<div class="dropdown-menu" aria-labelledby="tagDropdown">
							<a class="dropdown-item" href="#" th:href="@{/admin/newTag}">New Tag</a> 
							<a class="dropdown-item" href="#" th:href="@{/admin/listTags}">List Tags</a> 
							
						</div>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" role="button" id="userSettingsDropdown" 
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
							[[${#httpServletRequest.remoteUser}]] 
						</a>
	
						<div class="dropdown-menu" aria-labelledby="userSettingsDropdown">
						
							<div class="dropdown-item" ><a class="btn btn-sm btn-outline-success"  href="#" th:href="@{/editAdminDetails}">Account Settings</a></div> 			
							<div class="dropdown-divider"></div>	
							<div class ="dropdown-item align-items-center">		
								<form action="#" th:action="@{/logout}" method="post">
									<input class = "btn btn-block btn-sm btn-outline-danger" type="submit" value="Logout" />
								</form>
							</div>	
						</div>
					</li>					
				</ul>
			</div>
			
			
			
			<div sec:authorize="hasRole('MERCHANT')" class="collapse navbar-collapse">
				<ul class="navbar-nav">
						
					<li class = "nav-item"><a class= "nav-link" href="#" th:href="@{/merchant/index}">Home</a></li>

					<li class = "nav-item"><a class= "nav-link" href="#" th:href="@{/merchant/transactions}">Transactions</a></li>
					

					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" role="button" id="userSettingsDropdown" 
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
							[[${#httpServletRequest.remoteUser}]] 
						</a>
	
						<div class="dropdown-menu" aria-labelledby="userSettingsDropdown">
						
							<div class="dropdown-item" ><a class="btn btn-sm btn-outline-success"  href="#" th:href="@{/editDetails}">Account Settings</a></div> 			
							<div class="dropdown-divider"></div>	
							<div class ="dropdown-item align-items-center">		
								<form action="#" th:action="@{/logout}" method="post">
									<input class = "btn btn-block btn-sm btn-outline-danger" type="submit" value="Logout" />
								</form>
							</div>	
						</div>
					</li>					
				</ul>
			</div>
			
			<div sec:authorize="hasRole('USER')" class="collapse navbar-collapse">
				<ul class="navbar-nav">
						
					<li class = "nav-item"><a class= "nav-link" href="#" th:href="@{/user/index}">Home</a></li>

					<li class = "nav-item"><a class= "nav-link" href="#" th:href="@{/user/transactions}">Transactions</a></li>
					

					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" role="button" id="userSettingsDropdown" 
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
							[[${#httpServletRequest.remoteUser}]] 
						</a>
	
						<div class="dropdown-menu" aria-labelledby="userSettingsDropdown">
						
							<div class="dropdown-item" ><a class="btn btn-sm btn-outline-success"  href="#" th:href="@{/editDetails}">Account Settings</a></div> 			
							<div class="dropdown-divider"></div>	
							<div class ="dropdown-item align-items-center">		
								<form action="#" th:action="@{/logout}" method="post">
									<input class = "btn btn-block btn-sm btn-outline-danger" type="submit" value="Logout" />
								</form>
							</div>	
						</div>
					</li>					
				</ul>
			</div>
				<div class="nav navbar-nav navbar-right" sec:authorize="!isAuthenticated()">
						<a class= "nav-item nav-link" href="/login" th:href="@{/login}"> 
							<span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp;Signin
							
						</a>
				</div>
	</nav>
</body>
</html>